.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

./node_modules
.idea
TTMS_Web/config
ttms/node_modules
TTMS_Web/.idea
ttms/.vscode/
ttms/.idea
TTMS_Web/web_app.log
